@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primaryBackground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--primaryBackground);
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}
#radial_overlay {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  height: 100%;
  bottom: 0;
}

.border-gradient-light {
  position: relative;
  padding: 0.1rem;
  border-radius: 26px;
}

.border-gradient-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Ensures the border radius matches the parent */
  padding: 1.39px; /* Adjust padding to control border thickness */
  background: linear-gradient(
      170.69deg,
      rgba(255, 255, 255, 0.2) 4.53%,
      rgba(181, 181, 181, 0.141667) 7.62%,
      rgba(152, 144, 144, 0.152) 15.14%,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(155, 155, 155, 0.2) 30.62%,
      rgba(0, 0, 0, 0) 61.57%,
      rgba(82, 82, 82, 0) 92.96%
    ),
    linear-gradient(
      320.86deg,
      rgba(239, 239, 239, 0.08) 7.05%,
      rgba(217, 216, 216, 0.0096) 52.95%
    );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

/* #dark_overlay{
  position: absolute;
  background: var(--primaryBackground);
  width: 100%;
  height: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 2rem; /* 16px */
    background: #ffffff14;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(#000000, #fe756c, #dd1d63, transparent 160deg);
    content: "";
    position: absolute;
    left: 0%;
    top: -350%;
    height: 800%;
    width: 100%;
    animation: border-spin 6s linear infinite;
  }

  /* Body */
  .card-content {
    position: absolute;
    left: 1.5px;
    top: 1.5px;
    height: calc(100% - 3px);
    width: calc(100% - 3px);
    border-radius: 1rem; /* Equivalent to rounded-2xl */
    background: #ffffff14;
  }

  .border-gradient {
    position: relative;
    padding: 0.2rem;
    border-radius: 26px;
  }

  .border-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Ensures the border radius matches the parent */
    padding: 1px; /* Adjust padding to control border thickness */
    background: linear-gradient(
      151.59deg,
      #e6e6e6 -9.12%,
      rgba(0, 0, 0, 0) -4.36%,
      #e6e6e6 2.6%,
      rgba(0, 0, 0, 0) 34.83%,
      #606060 64.14%
    );
    animation: "border-spin 10s linear infinite";
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
  }

  .grid-border-gradient {
    position: relative;
    padding: 0.2rem;
    border-radius: 16px;
  }

  .grid-border-gradient-secondary {
    position: relative;
    padding: 0.1rem;
    border-radius: 16px;
  }

  .grid-border-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Ensures the border radius matches the parent */
    padding: 1.2px; /* Adjust padding to control border thickness */
    background: linear-gradient(
      142.78deg,
      rgba(255, 255, 255, 0.32) 0%,
      #000000 50.4%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
  }
  .grid-border-gradient-secondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Ensures the border radius matches the parent */
    padding: 2px; /* Adjust padding to control border thickness */
    background: linear-gradient(
      320.86deg,
      rgba(239, 239, 239, 0.15) 7.05%,
      rgba(217, 216, 216, 0.018) 52.95%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
  }

  .animate-play {
    /* Styles for playing the animation */
    max-height: 200px; /* Example */
    opacity: 1;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  }

  .animate-reverse {
    /* Styles for reversing the animation */
    max-height: 50px; /* Example */
    opacity: 0;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
  }
  .backdrop-blur-custom {
    --tw-backdrop-blur: blur(16px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
      var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
      var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
      var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
      var(--tw-backdrop-sepia);
    -webkit-backdrop-filter: var(--tw-backdrop-blur)
      var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
      var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
      var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
      var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }

  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  @keyframes border-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .animated-gradient-text {
    background: linear-gradient(to right, #fe756c, #dd1d63);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: 768px) {
    .gradient-lines-hidden {
      display: none;
    }
    .grid-border-gradient::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit; /* Ensures the border radius matches the parent */
      padding: 1.3px; /* Adjust padding to control border thickness */
      background: linear-gradient(
        320.86deg,
        rgba(239, 239, 239, 0.15) 7.05%,
        rgba(217, 216, 216, 0.018) 52.95%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
    }
  }
}
