@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primaryBackground: #080808;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  @font-face {
    font-family: "Degular-Black";
    src: url(../app/fonts/Degular-Black.otf) format("otf");
  }
  @font-face {
    font-family: "Degular-Bold";
    src: url(../app/fonts/Degular-Bold.otf) format("otf");
  }
  @font-face {
    font-family: "Degular-Semibold";
    src: url(../app/fonts/Degular-Semibold.otf) format("otf");
  }
  @font-face {
    font-family: "Degular-Medium";
    src: url(../app/fonts/Degular-Medium.otf) format("otf");
  }
  @font-face {
    font-family: "Degular-Regular";
    src: url(../app/fonts/Degular-Regular.otf) format("otf");
  }
  @font-face {
    font-family: "Degular-Light";
    src: url(../app/fonts/Degular-Light.otf) format("otf");
  }
  @font-face {
    font-family: "DegularDisplay-Black";
    src: url(../app/fonts/DegularDisplay-Black.otf) format("otf");
  }
  @font-face {
    font-family: "DegularDisplay-Bold";
    src: url(../app/fonts/DegularDisplay-Bold.otf) format("otf");
  }
  @font-face {
    font-family: "DegularDisplay-Semibold";
    src: url(../app/fonts/DegularDisplay-Semibold.otf) format("otf");
  }
  @font-face {
    font-family: "DegularDisplay-Medium";
    src: url(../app/fonts/DegularDisplay-Medium.otf) format("otf");
  }
  @font-face {
    font-family: "DegularDisplay-Regular";
    src: url(../app/fonts/DegularDisplay-Regular.otf) format("otf");
  }
  @font-face {
    font-family: "DegularDisplay-Light";
    src: url(../app/fonts/DegularDisplay-Light.otf) format("otf");
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--primaryBackground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
